@import url("./fonts.css");

:root {
  --col-width: calc(100% / 12);
  --unit: 16px;
  --container-width: 1232px;
  --header-top-height: 40px;
  --homes-image-width: 296px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  max-width: calc(var(--container-width) + var(--unit) * 2);
  padding: 0 16px;
  margin: 0 auto;
}

.col-lg-1 {
  width: var(--col-width);
}

.col-lg-2 {
  width: calc(var(--col-width) * 2);
}

.col-lg-3 {
  width: calc(var(--col-width) * 3);
}

.col-lg-4 {
  width: calc(var(--col-width) * 4);
}

.col-lg-5 {
  width: calc(var(--col-width) * 5);
}

.col-lg-6 {
  width: calc(var(--col-width) * 6);
}

.col-lg-7 {
  width: calc(var(--col-width) * 7);
}

.col-lg-8 {
  width: calc(var(--col-width) * 8);
}

.col-lg-9 {
  width: calc(var(--col-width) * 9);
}

.col-lg-10 {
  width: calc(var(--col-width) * 10);
}

.col-lg-11 {
  width: calc(var(--col-width) * 11);
}

.col-lg-12 {
  width: calc(var(--col-width) * 12);
}

a {
  text-decoration: none;
}

.section-title {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 104px;
}

.head {
  background-image: url("./../images/header-images/background-castelmezzano.png");
  background-position: center 0;
  background-size: cover;
}

.header {
  min-height: 100vh;
  padding-top: 51px;
  padding-bottom: 120px;
  color: #FFFFFF;
}

.header__logo {
  grid-area: logo;
  height: 40px;
  max-width: 205px;
}

.header__top-section {
  display: grid;
  grid-template-columns: 17% auto 5% 2% 9.5% 4% 2.5% 2% 3% 0;
  grid-template-rows: var(--header-top-height);
  grid-template-areas:
  "logo . stays . attractions . night . account menu";
  align-items: center;
}

.header__menu-item {
  display: grid;
  position: relative;
}

.header__menu-item:hover:after {
  display: block;
  content: ' ';
  width: 46px;
  background: #f5bd41;
  border: 2px solid #f5bd41;
  position: absolute;
  bottom: calc(-4px - ((var(--header-top-height) - 100%) / 2) - 2px) ;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__links--text {
  font-size: 24px;
  color: #FFFFFF;
  height: 28px;
}

.text-1 {
  grid-area: stays;
}

.text-2 {
  grid-area: attractions;
}

.icon-1 {
  grid-area: night;
}

.icon-2 {
  grid-area: account;
}

.header__icon-night {
  width: 30px;
  aspect-ratio: 1/1;
}

.header__icon-account {
  width: 40px;
  aspect-ratio: 1/1;
}

.header__menu--hidden {
  grid-area: menu;
  display: none;
}

.header__text {
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  padding-top: 202px;
}

.header__forms {
  margin-top: 100px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 38% 21% 25% 16%;
  grid-template-rows: auto;
  row-gap: 24px;
  grid-template-areas:
  "title-1 title-2 . ."
  "form-1 form-2 form-3 button";
}

.header__forms label {
  padding-left: 24px;
}

.header__header-form {
  max-width: 100%;
  height: 64px;
  padding: 22px 24px;
  border: 3px solid #F3F3F4;
}

.form-destination-title {
  grid-area: title-1;
}

.check-title {
  grid-area: title-2;
}

.header__form-destination {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 24px;
  grid-area: form-1;
}

.header__form-check {
  border: 3px solid #F5BD41;
  border-radius: 8px;
  grid-area: form-2;
}

.header__form-info {
  grid-area: form-3;
}

.header__button-search {
  grid-area: button;
  height: 64px;
  border-radius: 8px;
  background: #3077C6;
  font-weight: 500;
  font-size: 24px;
  color: white;
  border: none;
}

.header__forms-mob {
  display: none;
}

.header__badge {
  margin: 120px auto 0;
  max-width: 270px;
  display: flex;
}

.header__badge--app-store {
  margin-left: 17px;
}

.main-sect {
  color: #383838;
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages__title {
  position: relative;
}

.advantages__title:after {
  display: block;
  content: ' ';
  width: 100px;
  height: 4px;
  background: #f5bd41;
  position: absolute;
  bottom: -20px ;
  left: calc((100% - 100px) / 2);
}

.advantages__row {
  display: flex;
  justify-content: space-between;
}

.advantages__row-icon {
  max-width: 100px;
  aspect-ratio: 1/1;
  display: block;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__row-text {
  font-size: 24px;
  text-align: center;
}

.section-homes {
  background-color: #EAF0F9;
}

.homes__row {
  display: flex;
  gap: 16px;
  position: relative;
}

.homes__row-elem {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.homes__image {
  max-width: 100%;
  aspect-ratio: 1/1;
}

.homes__types-title {
  font-size: 24px;
  color: #3077C6;
}

.homes__row-text {
  font-size: 24px;
  color: #BFBFBF;
}

.homes__row-arrow {
  z-index: 10;
  --width-arrow: 40px;
  width: var(--width-arrow);
  aspect-ratio: 1/1;
  position: absolute;
  right: calc( var(--width-arrow) / 2 - var(--width-arrow));
  top: calc((var(--col-width) * 8.5 / 2) - var(--width-arrow) / 2);
}

.destinations {
  padding-bottom: calc(48px + 40px + 120px);
}

.dest-section {
  background-color: #D9D9D9;
}

.dest__tabs {
  display: grid;
  grid-template-columns: 31% 31% 38%;
  grid-template-rows: 64px;
  margin-bottom: 64px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) ;
}

.dest__tabs-button {
  background-color: #F3F3F4;
  border: 0;
  border-radius: 8px;
  font-size: 24px;
}

.dest__tabs-button:focus {
  background-color: #3077C6;
  color: #ffffff;
  border: 0;
  outline-color: #3077C6;
}

.dest-place-button-mob {
  display: none;
}

.dest__row {
  display: flex;
  gap: 16px;
  position: relative;
}

.dest__row-elem {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dest__image {
  max-width: 100%;
  aspect-ratio: 1/1;
}

.dest__types-title {
  font-size: 24px;
  color: #3077C6;
}

.dest_row-arrow-mob {
  display: none;
}

.dest__row-arrow {
  margin-top: 48px;
  --width-arrow: 40px;
  width: var(--width-arrow);
  aspect-ratio: 1/1;
  position: absolute;
  left: calc(50% - var(--width-arrow) / 2);
  transform: rotate(90deg);
}

.sign-up {
  background-color: #EAF0F9;
  padding: 24px 24px 52px;
  display: grid;
  grid-template-columns: 8% 90% 2%;
  grid-template-rows: auto;
  grid-template-areas:
  '. . close'
  'user sign-text .'
  '. sign-up-button .';
  align-items: center;
}

.sign-up__close {
  max-width: 26px;
  aspect-ratio: 1/1;
  grid-area: close;
}

.sign-up__icon {
  max-width: 86px;
  aspect-ratio: 1/1;
  grid-area: user;
  grid-row: 2/span 3;
  margin-right: 24px;
}

.sign-up__text {
  font-size: 24px;
  font-weight: 500;
  color: #383838;
  grid-area: sign-text;
  margin-bottom: 21px;
}

.sign-up__button {
  width: 128px;
  height: 48px;
  background-color: #FFFFFF;
  border: 1px solid #3077C6;
  border-radius: 8px;
  font-size: 18px;
  color: #3077C6;
  grid-area: sign-up-button;
}

.sign-up-sect-mob {
  display: none;
}

.footer-con {
  background-color: #10367c;
}

.footer {
  color: #ffffff;
  padding: 120px 104px;
  display: flex;
  flex-direction: column;
}

.footer__logo--hidden {
  display: none;
}

.footer__row {
  display: flex;
  font-size: 20px;
}

.footer__col-title {
  font-weight: 500;
  font-size: 20px;
}

.footer__col {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-content: space-between;
}

.footer__down-text {
  font-size: 14px;
  margin-top: 64px;
}

@media (max-width: 1024px) {
  /* For tablets: */

  :root {
    --col-width: calc(100% / 12);
    --container-width: 768px;
    --form-mob-unit: 8px;
    --mob-row-height: 48px;
    --mob-row-2-width: calc(var(--container-width) / 2 - var(--form-mob-unit) * 2.5 );
    --homes-image-width: 240px;
  }

  .col-md-1 {
    width: var(--col-width);
  }

  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-md-6 {
    width: calc(var(--col-width) * 6);
  }

  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-md-9 {
    width: calc(var(--col-width) * 9);
  }

  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }

  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }

  .col-md-12 {
    width: calc(var(--col-width) * 12);
  }

  .section-title {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 60px;
  }

  .header__logo {
    height: 32px;
    max-width: 163px;
  }

  .header__top-section {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 37% auto 5% 7% 7%;
    grid-template-rows: auto;
    grid-template-areas:
    "logo . night account menu";
    align-items: center;
    height: 48px;
  }

  .header__forms {
    display: none;
  }

  .header__forms-mob {
    display: block;
    background-color: #F5BD41;
    max-width: calc(736px + var(--unit) / 2 * 2);
    padding: 8px;
    color: #383838;
    font-size: 12px;
  }

  .header__forms-mob label {
    padding: 6px 0 4px 8px;
  }

  .header__header-form-mob {
    border: 0;
    font-size: 15px;
    font-weight: 500;
    padding: 0 8px 6px;
  }

  .header__forms-row-1 {
    display: grid;
    grid-template-columns: 6% auto;
    grid-template-rows: var(--mob-row-height);
    background-color: #ffffff;
    grid-template-areas: "dest-title dest-form";
    border-radius: 4px;
    margin-bottom: var(--form-mob-unit);
  }

  .header-dest-mob-title {
    padding-left: 4px;
    display: grid;
    align-items: center;
    grid-area: dest-title;
  }

  .header__form-mob-dest {
    max-width: 16px;
    aspect-ratio: 1/1;
  }

  .header__destination-mob-form {
    grid-area: dest-form;
    padding: 6px 0 4px 0;
  }

  .header__forms-row-2 {
    display: grid;
    grid-template-columns: var(--mob-row-2-width) var(--form-mob-unit) var(--mob-row-2-width);
    grid-auto-rows: calc(var(--mob-row-height) / 2);
    grid-template-areas:
    "check-in-title . check-out-title"
    "check-in-form . check-out-form";
    border-radius: 4px;
    margin-bottom: var(--form-mob-unit);
  }

  .header__forms-row-2 label {
    background-color: #ffffff;
  }

  .check-in-mob-title {
    grid-area: check-in-title;
  }

  .check-out-mob-title {
    grid-area: check-out-title;
  }

  .check-in-mob-form {
    grid-area: check-in-form;
  }

  .check-out-mob-form {
    grid-area: check-out-form;
  }

  .header__forms-row-3 {
    display: grid;
    grid-auto-columns: 33.33%;
    padding: 6px 0;
    grid-template-rows: 20px 16px;
    background-color: #ffffff;
    grid-template-areas:
    "adults-title children-title room-title"
    "adults-form children-form room-form";
    border-radius: 4px;
    margin-bottom: var(--form-mob-unit);
  }

  .header__forms-row-3 label {
    background-color: #ffffff;
    padding: 0 0 4px 8px;
  }

  .info-adults-mob-title {
    grid-area: adults-title;
  }

  .info-children-mob-title {
    border-right: 1px solid #BFBFBF;
    border-left: 1px solid #BFBFBF;
    grid-area: children-title;
  }

  .info-room-mob-title {
    grid-area: room-title;
  }

  .info-mob-adults-form {
    grid-area: adults-form;
  }

  .info-mob-children-form {
    border-right: 1px solid #BFBFBF;
    border-left: 1px solid #BFBFBF;
    grid-area: children-form;
  }

  .info-mob-room-form {
    grid-area: room-form;
  }

  .header__button-search-mob {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background: #3077C6;
    font-weight: 500;
    font-size: 19px;
    color: white;
    border: none;
  }

  .header__badge {
    margin: 32px auto 0;
    max-width: 270px;
    height: 40px;
    display: flex;
  }

  .header__links--text {
    display: none;
  }

  .header__highlight {
    display: none;
  }

  .header__icon-night {
    width: 20px;
  }

  .header__icon-account {
    width: 30px;
  }

  .header__menu--hidden {
    display: flex;
    max-width: 30px;
    height: 20px;
  }

  .header__text {
    font-size: 40px;
    line-height: 40px;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .main-sect {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .advantages__highlight {
    width: 100px;
    height: 4px;
    background: #f5bd41;
    margin: 20px auto 30px;
    border: 0;
  }

  .advantages__row-elem {
    margin-top: var(--unit);
  }

  .advantages__row-icon {
    max-width: 85px;
    display: block;
    margin-bottom: var(--unit);
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__row-text {
    font-size: 16px;
  }

  .homes__row-elem {
    gap: 16px;
  }

  .homes__row-elem:nth-child(4) {
    display: none;
  }

  .homes__types-title {
    font-size: 18px;
  }

  .homes__row-text {
    font-size: 18px;
  }

  .row-arrow-mob {
    --width-arrow: 34px;
    width: var(--width-arrow);
    aspect-ratio: 1/1;
    position: absolute;
    right: calc( var(--width-arrow) / 2 - var(--width-arrow));
    top: calc((var(--col-width) * 8.5 / 2) - var(--width-arrow) / 2);
  }

  .dest__tabs {
    display: grid;
    grid-template-columns: 31% 31% 38%;
    grid-template-rows: 48px;
    margin-bottom: 48px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) ;
  }

  .dest__tabs-button {
    border-radius: 6px;
    font-size: 18px;
  }

  .dest__row {
    display: flex;
    gap: 16px;
    position: relative;
  }

  .dest__row-elem {
    gap: 16px;
  }

  .dest__row-elem:nth-child(4) {
    display: none;
  }

  .dest__types-title {
    font-size: 18px;
  }

  .dest_row-arrow-mob {
    display: block;
  }

  .dest__row-arrow {
    display: none;
  }


  .sign-up {
    padding: 24px;
    grid-template-columns: 13% auto 2% ;
  }

  .sign-up__close {
    max-width: 22px;
  }

  .sign-up__icon {
    max-width: 72px;
  }

  .sign-up__text {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .sign-up__button {
    width: 100px;
    height: 36px;
    border-radius: 8px;
    font-size: 14px;
  }


  .footer__logo--hidden {
    display: block;
    margin: 40px auto;
    height: 19px;
  }

  .footer__logo {
    max-width: 98px;
    height: 19px;
  }

  .footer__row {
    justify-content: center;
  }

  .footer__col p {
    display: none;
  }

  .footer__col-title {
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
  }

  .footer__down-text {
    font-size: 12px;
    margin: 32px auto;
  }
}

@media (max-width: 768px) {
  /* For mobile phones: */

  :root {
    --col-width: calc(100% / 6);
    --container-width: 328px;
    --form-mob-unit: 8px;
    --mob-row-height: 48px;
    --mob-row-2-width: calc(var(--container-width) / 2 - var(--form-mob-unit) * 1.5 );
    --homes-image-width: 156px;
  }

  .col-sm-1 {
    width: var(--col-width);
  }

  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }

  .section-title {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 32px;
  }

  .header {
    padding-top: 0;
    padding-bottom: 40px;
    color: #FFFFFF;
  }

  .header__logo {
    height: 24px;
    max-width: 121px;
  }

  .header__top-section {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 37% auto 5% 7% 7%;
    grid-template-rows: auto;
    grid-template-areas:
    "logo . night account menu";
    align-items: center;
    height: 48px;
  }

  .header__links--text {
    display: none;
  }

  .header__highlight {
    display: none;
  }

  .header__icon-night {
    width: 16px;
  }

  .header__icon-account {
    width: 24px;
  }

  .header__menu--hidden {
    display: flex;
    max-width: 24px;
    height: 16px;
  }

  .header__text {
    font-size: 30px;
    line-height: 35px;
    padding-top: 40px;
    padding-bottom: 31px;
  }

  .header__forms {
    display: none;
  }

  .header__forms-mob {
    display: block;
    background-color: #F5BD41;
    max-width: calc(312px + var(--unit) / 2 * 2);
    padding: 8px;
    color: #383838;
    font-size: 12px;
}

  .header__forms-mob label {
    padding: 6px 0 4px 8px;
  }

  .header__header-form-mob {
    border: 0;
    font-size: 15px;
    font-weight: 500;
    padding: 0 8px 6px;
  }

  .header__forms-row-1 {
    display: grid;
    grid-template-columns: 11.5% auto;
    grid-template-rows: var(--mob-row-height);
    background-color: #ffffff;
    grid-template-areas: "dest-title dest-form";
    border-radius: 4px;
    margin-bottom: var(--form-mob-unit);
  }

  .header-dest-mob-title {
    padding-left: 4px;
    display: grid;
    align-items: center;
    grid-area: dest-title;
  }

  .header__form-mob-dest {
    max-width: 16px;
    aspect-ratio: 1/1;
  }

  .header__destination-mob-form {
    grid-area: dest-form;
    padding: 6px 0 4px 0;
  }

  .header__forms-row-2 {
    display: grid;
    grid-template-columns: var(--mob-row-2-width) var(--form-mob-unit) var(--mob-row-2-width);
    grid-auto-rows: calc(var(--mob-row-height) / 2);
    grid-template-areas:
    "check-in-title . check-out-title"
    "check-in-form . check-out-form";
    border-radius: 4px;
    margin-bottom: var(--form-mob-unit);
  }

  .header__forms-row-2 label {
    background-color: #ffffff;
  }

  .check-in-mob-title {
    grid-area: check-in-title;
  }

  .check-out-mob-title {
    grid-area: check-out-title;
  }

  .check-in-mob-form {
    grid-area: check-in-form;
  }

  .check-out-mob-form {
    grid-area: check-out-form;
  }

 .header__forms-row-3 {
   display: grid;
   grid-auto-columns: 33.33%;
   padding: 6px 0;
   grid-template-rows: 20px 16px;
   background-color: #ffffff;
   grid-template-areas:
    "adults-title children-title room-title"
    "adults-form children-form room-form";
   border-radius: 4px;
   margin-bottom: var(--form-mob-unit);
 }

  .header__forms-row-3 label {
    background-color: #ffffff;
    padding: 0 0 4px 8px;
  }

  .info-adults-mob-title {
    grid-area: adults-title;
  }

  .info-children-mob-title {
    border-right: 1px solid #BFBFBF;
    border-left: 1px solid #BFBFBF;
    grid-area: children-title;
  }

  .info-room-mob-title {
    grid-area: room-title;
  }

  .info-mob-adults-form {
    grid-area: adults-form;
  }

  .info-mob-children-form {
    border-right: 1px solid #BFBFBF;
    border-left: 1px solid #BFBFBF;
    grid-area: children-form;
  }

  .info-mob-room-form {
    grid-area: room-form;
  }

  .header__button-search-mob {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background: #3077C6;
    font-weight: 500;
    font-size: 19px;
    color: white;
    border: none;
  }

  .header__badge {
    margin: 32px auto 0;
    max-width: 270px;
    height: 40px;
    display: flex;
  }

  .main-sect {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .advantages {
    padding-top: 24px;
  }

  .advantages__title:after {
    display: none;
  }

  .advantages__row {
    display: block;
  }

  .advantages__row-elem {
    margin-top: calc(var(--unit) * 2);
  }

  .advantages__row-icon {
    max-width: 70px;
    display: block;
    margin-bottom: var(--unit);
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__row-text {
    font-size: 15px;
  }

  .homes__row-elem {
    gap: 0;
  }

  .homes__row-elem:nth-child(3) {
    display: none;
  }

  .homes__row-elem:nth-child(4) {
    display: none;
  }

  .homes__image {
    margin-bottom: 8px;
  }

  .homes__types-title {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .homes__row-text {
    font-size: 12px;
  }

  .row-arrow-mob {
    --width-arrow: 28px;
    width: var(--width-arrow);
    aspect-ratio: 1/1;
    position: absolute;
    right: calc( var(--width-arrow) / 2 - var(--width-arrow));
    top: calc((var(--col-width) * 4.5 / 2) - var(--width-arrow) / 2);
  }


  .dest-section {
    background-color: #FFFFFF;
  }

  .dest__tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    grid-template-rows: 32px;
    margin-bottom: 24px;
    box-shadow: none;
  }

  .dest__tabs-button {
    background-color: #F3F3F4;
    border: 0;
    border-radius: 4px;
    font-size: 19px;
  }

  .dest__tabs-button:focus {
    background-color: #3077C6;
    color: #ffffff;
    border: 0;
    outline-color: #3077C6;
  }

  .dest-place-button {
    display: none;
  }

  .dest-place-button-mob {
    display: block;
  }

  .dest__row {
    margin-bottom: 0;
    position: relative;
  }

  .dest__row-elem {
    gap: 8px;
  }

  .dest__row-elem:nth-child(3) {
    display: none;
  }

  .dest__row-elem:nth-child(4) {
    display: none;
  }

  .dest__types-title {
    font-size: 12px;
  }

  .dest_row-arrow-mob {
    display: block;
  }

  .dest__row-arrow {
    display: none;
  }

  .sign-up-sect-desktop {
    display: none;
  }

  .sign-up-sect-mob {
    display: block;
  }

  .sign-up-mob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
  }

  .sign-up-mob__close {
    max-width: 16px;
    aspect-ratio: 1/1;
  }

  .sign-up-mob__logo {
    width: 58px;
    height: 58px;
    background-color: #3077C6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sign-up-mob__logo-vector {
    width: 53px;
    height: 10px;
  }

  .sign-up-mob__text {
    max-width: 164px;
    font-size: 12px;
    color: #383838;
  }

  .sign-up-mob__link {
    width: 41px;
    font-size: 14px;
    font-weight: 500;
    color: #3077C6;
  }

  .footer {
    padding: 0;
  }

  .footer__logo--hidden {
    display: block;
    margin: 40px auto;
    height: 19px;
  }

  .footer__logo {
    max-width: 98px;
    height: 19px;
  }

  .footer__row {
    justify-content: center;
  }

  .footer__col p {
    display: none;
  }

  .footer__col-title {
    font-size: 15px;
    text-decoration: underline;
  }

  .footer__down-text {
    font-size: 12px;
    margin: 32px auto 40px;
  }
}
