@import url("./fonts.css");

* {
  box-sizing: border-box;
  margin: 0;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  min-height: 100vh;
  padding: 51px 104px 120px;
  background-image: url("./../images/header-images/background-castelmezzano.png");
  background-position: center 0;
  background-size: cover;
  color: #FFFFFF;
}

.header__top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 46px;
}

.header__logo {
  height: 40px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  width: 343px;
  justify-content: space-between;
}

.header__links--text {
  font-size: 24px;
  color: #FFFFFF;
}

.header__links {
  display: flex;
  width: 201px;
  justify-content: space-between;
  padding-top: 6px;
}

.header__links--text-highlight {
  display: block;
  width: 50px;
  background: #f5bd41;
  border: 2px solid #f5bd41;
  margin: 8px auto 0;
}

.header__icons {
  display: flex;
  width: 94px;
  justify-content: space-between;
  align-items: center;
}

.header__icon-night {
  width: 30px;
  height: 30px;
}

.header__icon-account {
  width: 40px;
  height: 40px;
}

.header__text {
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  padding-top: 202px;
}

.header__forms {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.header__header-form {
  width: 100%;
  height: 64px;
  padding: 22px 24px;
  margin-top: 24px;
  border: 3px solid #F3F3F4;
}

.header__forms label {
  padding-left: 24px;
  display: block;
}

.header__destination-form {
  width: 38%;
}

.destination-form {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 24px;
}

.header__check-form {
  width: 21%;
}

.check-form {
  border: 3px solid #F5BD41;
  border-radius: 8px;
}

.header__info-form {
  width: 25%;
}

.info-form {
  margin-top: 45px;
}

.header__button-search {
  height: 64px;
  margin-top: 47px;
  border-radius: 8px;
  width: 16%;
  background: #3077C6;
  font-weight: 500;
  font-size: 24px;
  color: white;
  border: none;
}

.header__badge {
  margin: 120px auto 0;
  width: 270px;
  display: flex;
}

.header__badge--app-store {
  margin-left: 17px;
}

.advantages {
  color: #383838;
  background: #ffffff;
  height: 569px;
  padding: 120px 104px;
}

.advantages__title {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

.advantages__highlight {
  width: 100px;
  height: 4px;
  background: #f5bd41;
  margin: 20px auto 80px;
  border: 0;
}

.advantages__row {
  display: flex;
  justify-content: space-between;
}

.advantages__row-elem {
  width: 296px;
}

.advantages__row-icon {
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__row-text {
  font-size: 24px;
  text-align: center;
}

.footer {
  color: #ffffff;
  background-color: #10367c;
  padding: 120px 104px;
  display: flex;
  flex-direction: column;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.footer__col-title {
  font-weight: 500;
  font-size: 20px;
}

.footer__col {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 400px;
  align-content: space-between;
}

.footer__down-text {
  font-size: 14px;
  margin-top: 64px;
}
